.example-card {
    max-width: 400px;
    padding: 100px;
    margin-bottom: 50px;
    margin-right: 50px;
  }
  
  .example-header-image {
    background-image: url('https://lh3.googleusercontent.com/proxy/AVWhjvR1HL4B2-vfPvVkrvVfcjlOjYXYJdRpNni17V9vAjiJUsUB9da-I37JJG2oXJZGnpWvuMyg6Nmdo1Xc-QWtw_DKFseOhIjgCHDaAJhAfnW1yn14');
    background-size: cover;
  }
  .card-container {
    display: inline-block;
    text-align: center;
  }

  mat-card {
    width: calc(100% - 70px);
    height: calc(100% - 70px);
  }
  
  img {
    width:100%;
    height: 150px;
  }
  